<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lizhaorong.dao.UserhonorMapper">
  <resultMap id="BaseResultMap" type="xyz.lizhaorong.entity.Userhonor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <id column="hid" jdbcType="INTEGER" property="hid" />
    <result column="date" jdbcType="VARCHAR" property="date" />
  </resultMap>

  <select id="getUserHonors" resultType="map">
    select h.id as id,h.`name`,h.src,h.`description` ,h.get_method as get_method ,u.date as date
    from honor as h inner join userhonor as u on h.id = u.hid
    where u.uid = #{uid};
  </select>
</mapper>